$cPink: pink;
* {
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header_title {
    color: $cPink;
}

#main {
    display: flex;
    flex: 1;
    text-align: center;
    & #calendar {
        background-color: rgba(229, 229, 252, 0.918);
        font-size: 40px;
        margin: 0 auto;
        margin-top: 100px;
        width: 70%;
    }
    & td {
        padding: 2px;
    }
}

footer {
    height: 200px;
}

@media (max-width: 900px) {
    body {
        width: 100%;
    }
    #main {
        flex-direction: column;
    }
}